<header class="slideUp">
  <h1> FIND ME THAT MOVIE </h1>
  <form action="/search" method="post">
    <input name="search" type="text" placeholder="search movie title..."><button></button>
  </form>
</header>

<div class="about">
  <% if @movie == @cached %>
    <img class="main" src="<%= @film["poster"] %>">
    <table>
      <% @film.each do |key, value| %>
        <% if key != "poster" && key != "id" && key != "type_" && key != "episode" && key != "season" && key != "metascore" && key != "seriesid"%>
          <tr>
            <th><%= key %></th>
            <td><%= value %></td>
          </tr>
          <% end %>
        <% end %>
        </table>
    <% else %>
    <table>
      <% @info.each do |key, value| %>
      <img class="main" src="<%= @poster %>">
        <% if key != "Poster" %>
        <tr>
          <th><%= key %></th>
          <td><%= value %></td>
        </tr>
        <% end %>
      <% end %>
    </table>
  <% end %>

</div>
